<div class="content">
    <!--thumbnail image, if any-->
    {% if post.data.image %}
        {% if index %}
            <img src="{{ post.data.image }}" class="small-image" alt="{{ post.data.alt }}">
        {% else %}
            <img src="{{ post.data.image }}" class="wide-image" alt="{{ post.data.alt }}">
        {% endif %}
    {% endif %}
    <!--title-->
    {% if post.data.title %}
        {% if post.url %}
            <h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {% elsif post.data.url %}
            <h2 class="title"><a href="{{ post.data.url }}">{{ post.data.title }}</a></h2>
        {% else %}
            <h2 class="title">{{ post.data.title }}</h2>
        {% endif %}
    {% endif %}
    <!--date-->
    {% if post.data.date_str %}
        <i><small>{{ post.data.date_str }}</small></i><br>
    {% endif %}
    <!--collaborators, if any-->
    {% if post.data.collaborators %}
        <small>
            With {% for collaborator in post.data.collaborators %}
                <span>{{ collaborator }}{% unless forloop.last %}, {% endunless %}{% if forloop.last %}.{% endif %}</span>
            {% endfor %}
        </small><br>
    {% endif %}
    <!--related links, if any-->
    {% if post.data.links %}
        <p>
            {% for link in post.data.links %}
                <img src="{{ link.image }}" class="textsize-image">
                <a href="{{ link.url }}">{{ link.name }}</a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}

    {% if post.data.blurb %}
        {{ post.data.blurb }}
        <div style="clear: both;"></div>
    {% else %}
        {{ post.templateContent }}
    {% endif %}
</div>
