:root {
    /* Color variables */
    --dark-color: #1f1f1f;
    --light-color: #FAF9F6;
    --key-color-dark: rgb(185, 29, 146);
    --dim-color: gray;
    
    /* Size variables */
    --default-margin: 10px;

    scroll-behavior: smooth;
    color: var(--dark-color);
    background-color: var(--light-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
}

body {
    counter-reset: sidenote-counter;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding-right: 12.5%;
    padding: 2.5%;
}

nav {
    text-align: center;
    margin: auto;
}

.links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.links li {
    float: left;
    margin-right: 0.5em;
}

.nav-inner {
    margin-bottom: 1%;
}

.title {
    margin-bottom: 0px;
}

#categories {
    text-align: center;
    margin-bottom: 2em;
}

.category {
    margin: 2.5pt;
}

.link {
    text-align: left;
}

footer {
    width: 100%;
    position: relative; 
    text-align: center;
    margin: 2.5%;
}

.textsize-image {
    height: 1em;
    width: auto;
    display: inline;
}

.full-image {
    max-width: 100%;
}

.wide-image {
    max-width: 75%;
    margin: auto;
}

img {
    max-width: 75%;
    display: block;
    margin: auto;
}

a {
    text-decoration: underline 0.15em var(--dark-color);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms, color 300ms;
    color: var(--dark-color);
}

a:hover {
    text-decoration-color: var(--key-color-dark);
    text-underline-offset: 0.4em;
    color: var(--key-color-dark);
}

.highlight {
    color: var(--key-color-dark);
  }
  
.smallcaps {
    font-variant: small-caps;
}

.highlight a {
    color: var(--key-color-dark);
    text-decoration-color: var(--key-color-dark);
}

.highlight a:hover {
    color: var(--dark-color);
    text-decoration-color: var(--dark-color);
}

.poster-text {
    font-size: 2em;
}
  
.smallposter-text {
    font-size: 1.5em;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.inner-reveal {
    opacity: 0;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
    -moz-animation: fadeIn 1s ease-in 0s 1 normal forwards;
    -webkit-animation: fadeIn 1s ease-in 0s 1 normal forwards;
}
  
.inner-reveal:nth-child(1) { animation-delay: 0.0s; }
.inner-reveal:nth-child(2) { animation-delay: 0.5s; }
.inner-reveal:nth-child(3) { animation-delay: 1.0s; }
.inner-reveal:nth-child(4) { animation-delay: 1.5s; }
.inner-reveal:nth-child(5) { animation-delay: 2.0s; }
.inner-reveal:nth-child(6) { animation-delay: 2.5s; }
  
.alternating-wrapper {
    position: relative;
    width: 100%;
}
  
  /*
   * stay-time: 2
   * fade-time: 0.5s
   * num-elements: 6
   * animation-time: (stay-time + fade-time) x num-elements = 2.5 x 6 = 15s
   */
  
.alternating-inner {
    position: absolute;
    opacity: 0;
    animation: fadeInOut 15s ease-in 0s infinite normal forwards;
    -moz-animation: fadeInOut 15s ease-in 0s infinite normal forwards;
    -webkit-animation: fadeInOut 15s ease-in 0s infinite normal forwards;
    width: max-content;
}
  
@keyframes fadeInOut {
    0% { opacity: 0; }
    3.33% { opacity: 1; }
    16.66% { opacity: 1; }
    20.00% { opacity: 0; }
    100% { opacity: 0; }
}
  
.alternating-inner:nth-child(1) { animation-delay: 0.0s; }
.alternating-inner:nth-child(2) { animation-delay: 2.5s; }
.alternating-inner:nth-child(3) { animation-delay: 5.0s; }
.alternating-inner:nth-child(4) { animation-delay: 7.5s; }
.alternating-inner:nth-child(5) { animation-delay: 10.0s; }
.alternating-inner:nth-child(6) { animation-delay: 12.5s; }

h1 {
    font-size: 4em;
}

ul {
    padding-top: 0em;
}

.small-image {
    float: right;
    aspect-ratio: 4/3; 
    object-fit: cover;
    width: 200px;
}

blockquote {
    border-left: 2px solid var(--dim-color);
    padding-left: 20px;
}

/* Collapsible sections */

details {
    user-select: none;
}

details .detail {
    margin-top: 10px;
    margin-left: 20px;
}

details>summary span {
    margin-left: auto;
}

summary {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid var(--dim-color);
    margin-bottom: 0px;
}

summary::-webkit-details-marker {
    display: none;
}

article > p,
article > footer,
article > table {
    width: 80%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -30%;
    width: 20%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
    content: counter(sidenote-counter);
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: "[" counter(sidenote-counter) "] ";
    font-size: 0.8rem;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

input.margin-toggle {
    display: none;
}